
# directories
.deps
autom4te.cache

*.o

aclocal.m4
Makefile
Makefile.in
INSTALL
config.log
config.status
configure
compile
depcomp
install-sh
missing
push
stamp-h1

# app-specific
jup

jup-config.h*
*.tar.gz

